@font-face {
    font-family: Karla;
    src: url(./fonts/Karla-VariableFont_wght.ttf);
}

:root {
    --gray-back: rgb(221, 220, 220);
    --light-gray: whitesmoke;
    --dark-gray: rgb(107, 107, 107);
    --white: #ffff;
    --black: #0000;

}

body {
    margin: 5px 20px 0 20px;
    font-family: Karla;
    user-select: none;
}

button, input {
    font-family: Karla;
}

button {
    cursor: pointer;
}


.landing-section {
    flex-direction: column;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: var(--gray-back);
    border-radius: 20px;
}
.landing-section-links {
    border: solid 2px black;
    padding: 30px;
    border-radius: 20px;
    background-color: var(--white);
    flex-direction: column;
}
.landing-section-links:hover {
    cursor: pointer;
}
.landing-section-underline {
    height: 3px;
    width: 0;
    background-color: black;
    position: relative;
    top: 2px;
}
.landing-section-links:hover .landing-section-underline{
    height: 3px;
    width: 100%;
    background-color: black;
    position: relative;
    top: 2px;
    transition: width 1s, height 0s;
}




#logo-2 {
    height: auto;
    width: 50%;
}
#construction {
    width: 50%;
    height: auto;
    justify-self: center;
    align-self: center;
    text-align: center;
    position: relative;
    left: 25%;
}






.navbar {
    background-color: var(--white);
    justify-content: space-between;
    margin-bottom: 30px;
    padding-bottom: 30px;
    border-bottom: solid rgb(90, 90, 90) 5px;
    height: 100px;
    }
    
.flex-container {
    display: flex;
}
.nav-list {
    flex-direction: row;
    display: flex;
    align-items: flex-end;
    column-gap: 30px;
    padding-right: 30px;
    padding-top: 20px;
}
#logo {
    width: auto;
    height: 80px;
    position: relative;
    top: 30px;
}
.navbar-logo-section {
    display: flex;
    align-items: center;
}
.nav-list-elements {
    text-decoration: none;
}
.nav-list-items {
    flex-direction: column;
}

.nav-list-elements-underline {
    height: 3px;
    width: 0;
    background-color: black;
    position: relative;
    top: 2px;
}
.nav-list-items:hover .nav-list-elements-underline{
    height: 3px;
    width: 100%;
    background-color: black;
    position: relative;
    top: 2px;
    transition: width 1s, height 0s;
}



.new-task-section {
    margin-bottom: 10px;
    margin-left: 170px;
    background-color: var(--gray-back);
    height: auto;
    padding: 20px;
    border-radius: 20px;
    align-items: center;
}
.new-task-title {
    padding-left: 20px;
    padding-right: 20px;
}

.new-task-input-section {
    display: flex;
    align-items: center;
}

#new-task-input{
    min-height: 40px;
    height: max-content;
    width: 300px;
    border: solid black 2px;
    border-radius: 10px; 
    margin-right: 20px;
    padding-left: 20px;
    font-size: 20px;
    font-weight: bold;
}
#new-task-input:focus-visible {
    background-color: black;
    color: #fff;
    border: solid 2px black;
}

#new-task-button {
    font-size: 20px;
    font-weight: bold;
    width: 100px;
    margin: 0 10px 0 10px;
    border-radius: 10px;
    border: 2px solid black;
    height: 44px;
}





.task-cards-section {
    margin-bottom: 30px;
    flex-direction: row;
    justify-content: space-between;
    min-height: 600px;
    max-height: fit-content;
    border-radius: 20px;
}

.task-card {
    background-color: #fff;
}

.tasks-cards-filters {
    background-color: whitesmoke;
    padding-right: 10px;
    border-radius: 20px;
}
.filter-section-list {
    list-style: none;
    padding: 20px;
    margin-top: 0px;
    font-weight: bold;
}
.filter-section-list-items {
    margin-bottom: 20px;
    border-left: solid black 2px;
    padding-left: 5px;
}

.filter-section-list-items:hover {
   cursor:pointer;
   background-color: black;
   color: #fff;
}

.tasks-cards-display-section {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    row-gap: 10px;
    padding: 10px;
    margin-left: 10px;
    border-radius: 20px;
    background-color: var(--gray-back);
}

.task-card {
    border: solid 2px black;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin: 10px;
    border-radius: 10px;
    column-gap: 10px;
    height: fit-content;
    flex-direction: row;
    align-content: center;
    align-items: center;
}
.task-card-title-section {
    align-items: center;
}

.task-card-arrow {
    height: 20px;
    transform: rotate(-90deg);
    margin-left: 20px;
    margin-right: 10px;
    cursor: pointer;
}

.task-title {
    width: 400px;
    padding-left: 10px;
    background-color: #fff;
    height: 40px;
    font-size: 20px;
    font-weight: bold;
    margin: 5px 0 5px 0;
    flex-grow: 5;
    padding-right: 20px;
    border: none;
}

.task-title:focus-visible {
    border: white -1px double ;
    border-radius: 10px;
    background-color: black;
    color: #fff;
}


.task-created {
    /* flex-grow: 1; */
    border-right: solid 2px black;
    border-left: solid 2px black;
    height: 40px;
    display: flex;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    justify-content: center;
    flex-wrap: nowrap;
}

.task-edit-button, .task-finish-button {
    font-size: 20px;
    font-weight: bold;
    width: 100px;
    margin: 0 10px 0 10px;
    border-radius: 10px;
    border: 2px solid black;
    height: 30px;
}

.task-buttons {
    display: flex;
    height: 40px;
    margin: 0 10px 0 10px;
    align-items: center;
}