body {
margin: 5px 20px 0 20px;
}

.navbar {
    background-color: rgb(107, 107, 107);
    justify-content: space-between;
    margin-bottom: 30px;
    }
    
.flex-container {
    display: flex;
}
.nav-list {
    flex-direction: column;
    display: flex;
    align-items: center;

}
#logo {
    width: auto;
    height: 100px;
}
.navbar-logo-section {
    display: flex;
    align-items: center;
}

.new-task-section {
    margin-bottom: 30px;
}

.task-cards-section {
    margin-bottom: 30px;
    background-color: rgb(107, 107, 107);
    flex-direction: row;
    justify-content: space-between;
}

.task-card {
    background-color: #fff;
}



.landing-section {
    flex-direction: column;
    height: 800px;
    display: flex;
    align-items: center;
    justify-content: center;

}
#logo-2 {
    height: auto;
    width: 50%;
}
#construction {
    width: 100%;
    height: auto;
}